<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} webegin {% endblock %}</title>
        
        <link rel="stylesheet" href="{{ asset('library/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('library/font-awesome/css/font-awesome.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('custom/css/custom.css') }}"/>
        {% block stylesheets %} {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	    {{ facebook_initialize({'xfbml': true, 'culture': 'fr_FR', 'fbAsyncInit': 'onFbInit();'}) }}
	        <script type="text/javascript" > // Script for FOSFacebookBundle
	        function goLogIn(){
	        	window.location.href = "{{ path('_security_check_fb') }}";
	        }
	 
	        function onFbInit() {
	            if (typeof(FB) != 'undefined' && FB != null ) {
	                FB.Event.subscribe('auth.statusChange', function(response) {
	                    if (response.session || response.authResponse) {
	                        setTimeout(goLogIn, 50);
	                    } else {
	                        window.location = "{{ path('_security_logout') }}";
	                    }
	                });
	            }
	        }
	        </script>
        {% block body %}
        
        {% endblock %}
        
        {% block javascripts %} {% endblock %}
        <script src="{{ asset('library/jquery/jquery-1.12.0.js') }}"></script>
        <script src="{{ asset('library/bootstrap/js/bootstrap.js') }}"></script>
        <script src="{{ asset('custom/js/custom.js') }}"></script>
    </body>
</html>
