{% extends "AdminBundle::base.html.twig" %}

{% block content %}

<h3 class="text-left page-header"><i class="fa fa-users"></i> - Users</h3>
<div class="col-md-12">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<a href="#" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Create a new user</a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<span class="pull-right">
					<a href="#" class="btn btn-default btn-xs"><i class="fa fa-download"></i> Export users</a>
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<hr>
	</div>
</div>
<div class="col-md-12 col-sm-12">
	<div class="row">
		<table class="table table-bordered table-striped table-hover" id="table-users">
			<thead>
				<tr>
					<th><b>#id</b></th>
					<th><b>Username</b></th>
					<th><b>Email</b></th>
					<th><b>Firstname</b></th>
					<th><b>Lastname</b></th>
					<th><b>Facebook</b></th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.firstname }}</td>
					<td>{{ user.lastname }}</td>
					<td>
						{% if user.getFacebookId() != null %}
						<span class="text-success"><i class="fa fa-check"></i></span>
						{% else %}
						<span class="text-danger"><i class="fa fa-times"></i></span>
						{% endif %}
					</td>
				</tr>	
				{% endfor %}
				
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
	$('#table-users').DataTable({
		"columns": [
			null,
			null,
			null,
			null,
			null,
			{sortable: false},
		],
	});
	
	$(window).bind('resize', function() {
		$('#table-users').css('width', '100%');
	});
	</script>
{% endblock %}