{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<!-- UTILISATEUR AUTHENTIFIE -->
	<ul class="nav navbar-nav navbar-right">
		<li><a href="{{ path('webegin_homepage') }}">Home</a></li>
		<li class="dropdown">
	    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	    		
	    		{% if app.user.getFacebookId() != null %}
	    			<img src="https://graph.facebook.com/{{ app.user.getFacebookId() }}/picture" style="max-width:23px;max-height:23px;border-radius:11.5px;margin-right:5px;"/>  
		    		{{ app.user.getFirstName() }} {{ app.user.getLastName() }}
		    	{% else %}
		    		{{ app.user.username }}
		    	{% endif %}
		    	  
		    	<span class="caret"></span>
	    	</a>
			<ul class="dropdown-menu">
			    <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> Profile </a></li>
			    {% if is_granted("ROLE_ADMIN") %}
					<!-- UTILISATEUR ADMINISTRATEUR -->
					<li>
						<a href="{{ path('admin_homepage') }}"><i class="fa fa-cog"></i> Manager</a>
					</li>
				{% endif %}
			    <li role="separator" class="divider"></li>
			    <li><a href="{{ path('fos_user_security_logout') }}"><span class="text-danger"><i class="fa fa-power-off"></i> Sign out</span></a></li>
			</ul>
	    </li>
    </ul>	
{% else %}
	<!-- UTILISATEUR NON AUTHENTIFIE -->
	<form class="navbar-form navbar-right">
		<a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="Sign in with Facebook" class="btn btn-primary"><i class="fa fa-facebook"></i> Connect</a>
		<a href="{{ path('fos_user_security_login') }}" class="btn btn-success">Login</a>
		<a href="{{ path('fos_user_registration_register') }}" class="btn btn-info">Register</a>
	</form>
{% endif %}